html{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

*,
*:after,
*:before{
    box-sizing: inherit;
}

body{
    width: 100%;
    margin: auto;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #f36314;
    cursor: default;
}

a:hover{
    color: #f86211d7;
}

img{
    max-width: 100%;
    max-height: 207px;
    object-fit: contain;
}

.error{
    padding: 1rem;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #dc3545;
}

.form-search>input{
    border: none;
    padding: 1rem;
    font-size:medium;
    text-transform: capitalize;
    border-radius: .5rem;
    transition: border .3s ease-out;
}

.form-search>input:focus{
    outline: none;
    border-bottom: 4px solid #f36314;
}

.selects{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.options{
    padding: .3rem;
    border: none;
    border-bottom: 2px solid #f36314;
    background-color: transparent;
    outline: none;
    border-radius: .5rem;

}

.header{
    justify-content: space-evenly;
    display: flex;
    padding: 0.25rem 1rem;
    background-color: rgb(228, 227, 227);
    align-items: center;
    flex-wrap: wrap;
}

.loader{
    display: block;
    margin: 1rem auto;
    width: 4rem;
    height: 4rem;
}

.grid-fluid{
    margin: 1rem auto;
    max-width: 55%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 2rem;
}

.prod-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem auto;
    -webkit-box-shadow: 1px 5px 16px 5px rgba(0,0,0,0.34); 
    box-shadow: 1px 5px 16px 5px rgba(0,0,0,0.34);
}

.prod-card>h2{
    font-size: 1.2rem;
    padding: .5rem;
}

.prod-card>div{
    display: flex;
    justify-content: space-evenly;
    padding: .5rem;
    align-items: center;
    gap: 1rem;

}

.prod-card>div>button{
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 1rem;
    padding: .5rem;
}

.prod-card>div>button:hover{
    background-color: rgb(48, 211, 34);
    color: #fff;
}

.option{
    text-transform: capitalize;
}

.utils{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.utils>span{
    font-size: large;
    text-transform: capitalize;
}

.utils>nav{
    display: inherit;
    gap: 1rem;
}

.utils>nav>button{
    border: 1px solid #000;
    padding: .3rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: larger;
    color: #f36314;
    background-color: transparent;

}

.utils>nav>button:disabled{
    display: none;
}

